{% extends "base.html.twig" %}

{% block body %}

<div class="container">
<h2 class="text-center my-3">Modifier</h2>
    {{ form_start(formEmploye,{
        attr:{
            novalidate : "novalidate"
        }
    }) }}

    {{ form_row(formEmploye.prenom) }}
    {{ form_row(formEmploye.nom) }}
    {{ form_row(formEmploye.telephone) }}
    {{ form_row(formEmploye.email) }}
    {{ form_row(formEmploye.adresse) }}
    {{ form_row(formEmploye.poste) }}
    {{ form_row(formEmploye.salaire) }}
    {{ form_row(formEmploye.datedenaissance) }}
    <button type="submit" class="btn btn-primary">Valider</button>
</div>




{{ form_end(formEmploye) }}
{% endblock %}