{% extends 'base.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Annuaire</h1>
   

    <div class="container">

      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">Nom</button>
        <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
          <a class="dropdown-item" href="{{ path('filter_employe', {filtre: 'nom_a'}) }}">Ordre ascendant</a>
          <a class="dropdown-item" href="{{ path('filter_employe', {filtre: 'nom_d'}) }}">Ordre descendant</a>
        </div>
      </div>
    
      <div class="btn-group mx-2" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">Salaire</button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
            <a class="dropdown-item" href="{{ path('filter_employe', {filtre: 'sal_a'}) }}">Ordre ascendant</a>
            <a class="dropdown-item" href="{{ path('filter_employe', {filtre: 'sal_d'}) }}">Ordre descendant</a>
          </div>
        </div>
      </div>
    
      <div class="btn-group mx-2" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">Poste</button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
            <a class="dropdown-item" href="{{ path('filter_employe', {filtre: 'dev'}) }}">Développeur</a>
            <a class="dropdown-item" href="{{ path('filter_employe', {filtre: 'inf'}) }}">Informaticien</a>
            <a class="dropdown-item" href="{{ path('filter_employe', {filtre: 'cor'}) }}">Coordinateur</a>
          </div>
        </div>
      </div>
    </div>
  {# !Annuaire des salaires #}
    <div class="container mt-5">
        <table class="table table-striped border border-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Poste</th>
                    <th>Salaire</th>
                    <th>DateDeNaissance</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
            {% for salarie in salaries %}
                <tr>
                    <td>{{ salarie.id }}</td>
                    <td>{{ salarie.prenom }}</td>
                    <td>{{ salarie.nom }}</td>
                    <td>{{ salarie.telephone }}</td>
                    <td>{{ salarie.email }}</td>
                    <td>{{ salarie.adresse }}</td>
                    <td>{{ salarie.poste }}</td>
                    <td>{{ salarie.salaire }}</td>
                    <td>{{ salarie.datedenaissance|date('d-M-y') }}</td>
                    <td>
                        <a href="{{ path('edit_employe', {id: salarie.id}) }}"><i class="bi bi-pencil-square"></i></a>
                        <a href="{{ path('delete_employe', {id: salarie.id}) }}"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
                
            </tbody>
        </table>
    </div>
    
    <div class="container">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Ajouter un salarié
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {{ form_start(form,{
              attr:{
                  novalidate : "novalidate"
              }
              }) }}
              {{ form_row(form.prenom) }}
              {{ form_row(form.nom) }}
              {{ form_row(form.telephone) }}
              {{ form_row(form.email) }}
              {{ form_row(form.adresse) }}
              {{ form_row(form.poste) }}
              {{ form_row(form.salaire) }}
              {{ form_row(form.datedenaissance) }}
              
              <button type="submit" class="btn btn-primary">Valider</button>
          
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    

{% endblock %}

